{% extends "bid/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ order_item.order }}|{{ order_item.id }}{% endblock %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="card">
            <h5 class="card-header">{{ order_item.order }}</h5>
            <div class="card-body">
                <p class="card-text h5"><strong>Товар:</strong> {{ order_item.product }}</p>
                <p class="card-text h5"><strong>Количество в заявке:</strong> {{ order_item.quantity }} {{ order_item.product.unit }}</p>
                <p class="card-text h5"><strong>Количество в контейнерах:</strong> {{ order_item.get_total_quantity_in_containers }} {{ order_item.product.unit }}</p>
                <p class="card-text">Список контейнеров:</p>
            </div>
            <ul class="list-group list-group-flush">
                {% for item in containers %}
                    <li class="list-group-item">
                        <form action="{% url 'orders:update_container' order_id order_item.id item.container.id %}"
                              method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-6">
                                    {{ item.form.container_number|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ item.form.quantity|as_crispy_field }}
                                </div>
                            </div>
                            {% if not order_item.order.status == order_item.order.SHIPPED %}
                                <div class="d-flex justify-content-between align-items-center">
                                    <input type="submit" value="Обновить" class="btn btn-warning">
                                    <a href="{% url 'orders:delete_container' order_id order_item.id item.container.id %}"
                                       class="btn btn-danger" role="button">Удалить</a>
                                </div>
                            {% endif %}
                        </form>
                    </li>
                {% empty %}
                    <li class="list-group-item">
                        <p class="card-text">Список контейнеров пуст</p>
                    </li>
                {% endfor %}
            </ul>
            {% if not order_item.order.status == order_item.order.SHIPPED %}
                <div class="card-body">
                    <p class="card-text h5">Добавить контейнер:</p>
                    <form action="{% url 'orders:add_container' order_id order_item.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-6">
                                {{ add_container_form.container_number|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                {{ add_container_form.quantity|as_crispy_field }}
                            </div>
                        </div>
                        <input type="submit" value="Добавить" class="btn btn-success"
                                {% if not order_item.packed %} disabled {% endif %}>
                    </form>
                </div>
            {% endif %}
        </div>
        <hr>
        <a class="btn btn-primary" href="{% url 'orders:sorter_view_order' order_id %}" role="button">Назад</a>
    </div>
{% endblock %}