{% extends "bid/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Заявки пользователей{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 1%">
        <div class="row">
            <ul class="list-group col-xl-6 col-md-12">
                {% for order in orders %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="h4" href="{% url 'orders:sorter_view_order' order.id %}" role="button">
                                Заявка №{{ order.id }} - Итого: {{ order.get_total_cost }}
                            </a>
                            <h4>
                                <span class="badge badge-{{ order.get_status_color }}">
                                    {{ order.get_status_display }}
                                </span>
                            </h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Дата создания: {{ order.created }}</li>
                            <li class="list-group-item">Дата
                                комплектровки: {{ order.assembled|default_if_none:"Нет" }}</li>
                            <li class="list-group-item">Дата
                                отгрузки: {{ order.shipped|default_if_none:"Нет" }}</li>
                        </ul>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapse-{{ order.id }}" aria-expanded="false"
                                aria-controls="#collapse-{{ order.id }}"
                                style="margin-top: 1%;">
                            Посмотреть список товаров
                        </button>
                        <div class="collapse" id="collapse-{{ order.id }}" style="margin-top: 1%;">
                            {% include 'orders/order_items_table.html' %}
                        </div>
                    </li>
                    {% if forloop.counter|divisibleby:"6" %}
                        </ul>
                        <ul class="list-group col-xl-6 col-md-12">
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">
                        <h3 class="text-center">Список заказов пуст.</h3>
                    </li>
                {% endfor %}
                </ul>
        </div>
        {% with list=orders %}
            {% include 'bid/paginator.html' %}
        {% endwith %}
    </div>
{% endblock %}