{% extends 'bid/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Ваша корзина{% endblock %}

{% block content %}
    {#    <div class="col">#}
    <div class="container-fluid">
        {#        <div class="row">#}
        <div class="col">
            <h2>Ваша корзина
                {% with totail_items=cart|length %}
                    <a href="{% url "cart:cart_clear" %}" class="btn  btn-danger float-right {% if totail_items == 0 %}
                       disabled {% endif %}" role="button">Очистить корзину</a>
                    <span class="badge badge-secondary float-right">
                    {% if totail_items > 0 %}
                        <span style="color: #ffffff">
                               Товаров: {{ totail_items }}
                            </span>
                    {% else %}
                        Ваша корзина пуста.
                    {% endif %}
                {% endwith %}
                </span>
            </h2>
        </div>
        <table class="table table-sm table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Удалить</th>
                <th scope="col">Цена за единицу, руб.</th>
                <th scope="col">Стоимость, руб.</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-6">
                                        {{ item.update_quantity_form.quantity|as_crispy_field }}
                                        {{ item.update_quantity_form.update|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="submit" value="Обновить" class="btn btn-warning">
                                    </div>
                                </div>
                            </form>

                        </td>
                        <td>
                            <a href="{% url "cart:cart_remove" product.id %}" class="btn btn-danger">Удалить</a>
                        </td>
                        <td>{{ item.price }} за {{ product.unit.short_name }}</td>
                        <td>{{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="bg-dark text-light">
                <td><b>Итого</b></td>
                <td colspan="3"></td>
                <td colspan="num"><b>{{ cart.get_total_price }} руб.</b></td>
            </tr>
            </tbody>
        </table>
        <p class="text-right">
            <a href="{% url "bid:product_list" %}" class="btn  btn-info" role="button">Вернуться к списку товаров</a>
            <a href="{% url "orders:order_create" %}" class="btn  btn-success {% if cart|length == 0 %}
                       disabled {% endif %}" role="button">Оформить заявку</a>
        </p>
        {#        </div>#}
    </div>
    {#    </div>#}
{% endblock %}