<table class="table table-sm table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Цена, руб.</th>
        <th scope="col">Кол-во</th>
        <th scope="col">Сумма, руб.</th>
        <th scope="col">Контейнеры</th>
        <th scope="col">Упак.</th>
    </tr>
    </thead>
    {% for line in order.items.all %}
        <tr>
            <td>{{ line.product }}</td>
            <td>{{ line.price }}</td>
            <td>{{ line.quantity }} {{ line.product.unit }}</td>
            <td>{{ line.get_cost }}</td>
            <td>
                {% for container in line.containers.all %}
                    <p>№{{ container }} - {{ container.quantity }} {{ line.product.unit }}</p>
                {% empty %}
                    <p>Контейнеры отсутствуют</p>
                {% endfor %}
                {% if perms.accounts.is_sorter %}
                    <a class="btn btn-warning" href="{% url 'orders:order_item_containers' order.id line.id %}"
                       role="button">Изменить</a>
                {% endif %}
            </td>
            <td>{{ line.packed_to_str }}</td>
        </tr>
    {% endfor %}
</table>