<footer class="footer mt-auto py-3 my-5 pt-5 text-muted text-center text-small">
    <div class="container">
        <p class="mb-1">© 2020 ВЦ Белкоопсоюза</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'bid:index' %}">Главная</a></li>
            {% if perms.accounts.is_merchandiser %}
                <li class="list-inline-item"><a href="{% url 'bid:product_list' %}">Товары</a></li>
                <li class="list-inline-item"><a href="{% url 'orders:merchandiser_list_orders' %}">Заявки</a></li>
            {% endif %}
            {% if perms.accounts.is_packer %}
                <li class="list-inline-item">
                    <a href="{% url 'orders:packer_list_orders' %}">Весовой товар по заявкам</a>
                </li>
            {% endif %}
            {% if perms.accounts.is_sorter %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'orders:sorter_list_orders' %}">Список заявок</a>
                </li>
            {% endif %}
        </ul>
    </div>
</footer>