{% extends "bid/base.html" %}

{% block title %}Система заявок - Главная{% endblock %}

{% block content %}
    <div class="col-xl-10 col-md-8">
        <div class="jumbotron">
            <h1 class="display-4">Добро пожаловать в систему заявок</h1>
            <hr class="my-4">
            {% if request.user.is_authenticated %}
                {% if perms.accounts.is_merchandiser %}
                    <p>Пользователь - {{ request.user.shopuser }}</p>
                    <p>Торговый объект - {{ request.user.shopuser.shop }}</p>
                {% else %}
                    <p>Пользователь - {{ request.user.stockuser }}</p>
                    <p>Склад - {{ request.user.stockuser.stock }}</p>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0 float-left"
                   role="button">Войти</a>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %}
            {% if perms.accounts.is_merchandiser %}
                {% if last_order %}
                    <div class="container-fluid">
                        <h4>Ваша последняя завка: </h4>
                        <ul class="list-group col-xl-6 col-md-12 ">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a class="h4" href="{% url 'orders:view_order' last_order.id %}" role="button">
                                        Заявка №{{ last_order.id }} - Итого: {{ last_order.get_total_cost }}
                                    </a>
                                    <h4>
                                        <span class="badge
                                            {% if order.status == 'N' %} badge-primary
                                            {% elif order.status == 'P' %} badge-warning
                                            {% elif order.status == 'A' %} badge-info
                                            {% else %} badge-success
                                            {% endif %} float-right">
                                            {{ last_order.get_status_display }}
                                        </span>
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block sidebar %}
    <div class="col-xl-2 col-md-4">
        {% if request.user.is_authenticated %}
            {% if perms.accounts.is_merchandiser %}
                {% include 'cart/cart_module.html' %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}