{% extends 'bid/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Оформление заявки{% endblock %}

{% block content %}
    <div class="col-xl-10 col-md-8">
        <div class="container-fluid" style="margin-top: 3%">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form action="{% url "orders:order_create" %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="user_name">Пользователь</label>
                    <input id="user_name" class="form-control" type="text"
                           value="{{ user.shopuser }}" disabled>
                </div>
                <div class="form-group">
                    <label for="user_shop">Торговый объект</label>
                    <input id="user_shop" class="form-control" type="text" value="{{ user.shopuser.shop }}"
                           disabled>
                </div>
                <div class="form-group">
                    <label for="user_stock">Склад</label>
                    <input id="user_stock" class="form-control" type="text" value="{{ user.shopuser.shop.stock }}"
                           disabled>
                </div>
                <input type="submit" class="btn btn-primary" value="Подтвердить">
            </form>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    <div class="col-xl-2 col-md-4">
        {% if request.user.is_authenticated %}
            {% include 'cart/cart_module.html' %}
        {% endif %}
    </div>
{% endblock %}