{% extends "bid/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Заявка № {{ order.id }}{% endblock %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-4">
                <h3>Заявка № {{ order.id }}</h3>
            </div>
            <div class="col-8">
                <h5>Дата создания: {{ order.created }}</h5>
                <h5>Дата комплектровки: {{ order.assembled|default_if_none:"Нет" }}</h5>
                <h5>Дата отгрузки: {{ order.shipped|default_if_none:"Нет" }}</h5>
            </div>
        </div>
        <h4>Товары: </h4>
        {% include 'orders/order_items_table.html' %}
        <br>
        <h3>Итого по заказу: {{ order.get_total_cost }} руб.</h3>
        <hr>
        {% if perms.accounts.is_merchandiser %}
            <a class="btn btn-primary" href="{% url 'orders:sorter_list_orders' %}" role="button">Назад</a>
        {% endif %}
        {% if perms.accounts.is_sorter %}
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <form action="{% url 'orders:add_container_order' order.id %}" method="post">
                        {% csrf_token %}
                        {{ container_form|crispy  }}
                        <input type="submit" value="Добавить контейнер для всей заявки" class="btn btn-success">
                    </form>
                </div>
                <div class="col-xl-6 col-md-12">
                    <a class="btn btn-primary" href="{% url 'orders:shipped_order' order.id %}" role="button">Пометить заявку отгруженной</a>
                </div>
            </div>
            <hr>
            <a class="btn btn-primary" href="{% url 'orders:sorter_list_orders' %}" role="button">Назад</a>
        {% endif %}
    </div>
{% endblock %}