{% extends "bid/base.html" %}

{% block title %}Заявка № {{ order.id }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Заявка № {{ order.id }}</h3>
            </div>
            <div class="col-8">
                <h5>Дата создания: {{ order.created }}</h5>
                <h5>Дата комплектровки: {{ order.assembled|default_if_none:"Нет" }}</h5>
                <h5>Дата отгрузки: {{ order.shipped|default_if_none:"Нет" }}</h5>
            </div>
        </div>
        <h4>Товары: </h4>
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Цена, руб.</th>
                <th scope="col">Количество</th>
                <th scope="col">Сумма, руб.</th>
                <th scope="col">Контейнеры</th>
            </tr>
            </thead>
            {% for line in order.items.all %}
                <tr>
                    <td>{{ line.product.name }}</td>
                    <td>{{ line.price }}</td>
                    <td>{{ line.quantity }} {{ line.product.unit.short_name }}</td>
                    <td>{{ line.get_cost }}</td>
                    <td>
                        {% for container in line.containers.all %}
                            <p>{{ container.number }}</p>
                        {% empty %}
                            <p>Контейнеров не найдено</p>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <h3>Итого по заказу: {{ order.get_total_cost }} руб.</h3>
        <hr>
        <a class="btn btn-primary" href="{% url 'orders:list_orders' %}" role="button">Назад</a>
    </div>
{% endblock %}