{% extends "bid/base.html" %}

{% block title %}Весовой товар{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 1%">
        <div class="row">
            <ul class="list-group col-xl-6 col-md-12">
                {% for order in orders %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="h4" href="{% url 'orders:packer_view_order' order.id %}" role="button">
                                {{ order }} - Итого: {{ order.get_total_cost }}
                            </a>
                            <h4>
                                <span class="badge badge-{{ order.get_status_color }}">
                                    {{ order.get_status_display }}
                                </span>
                            </h4>
                        </div>
                        <p>Торговый объект: {{ order.user.shop }}</p>
                        <p>Дата создания: {{ order.created }}</p>

                        <ul class="list-group">
                            {% for item in order.get_items_for_packer %}
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p>{{ item.product }} - {{ item.price }} x {{ item.quantity }}
                                            {{ item.product.unit }}</p>
                                        <a href="{% url 'orders:update_order_item_packed' item.id %}"
                                           class="btn btn-warning" role="button">Упаковано</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <hr>
                        <a href="{% url 'orders:update_order_packed' order.id %}" class="btn btn-success" role="button">
                            Пометить заявку упакованной
                        </a>
                    </li>
                    {% if forloop.counter|divisibleby:"6" %}
                        </ul>
                        <ul class="list-group col-xl-6 col-md-12">
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">
                        <h3 class="text-center">Список заявок пуст.</h3>
                    </li>
                {% endfor %}
                </ul>
        </div>
        {% with list=orders %}
            {% include 'bid/paginator.html' %}
        {% endwith %}
    </div>
{% endblock %}